.idea
examples/storage
examples/test/storage
*.json
tmp
bin
*.out
*.test
.history
/examples/test/cpu.prof
/examples/test/mem.prof
storage/fts
*.frame.gz
fts-storage
documentStorage
*.index
fts
*.ndjson
*.ndjson.*